
/* Make reference options non-wrapping */
article .md-typeset__table td:nth-child(1) {
    white-space: nowrap;
}

/* Make reference tables occupying full width */
article .md-typeset__table {
    width: 100%;
}

:root {
    --md-primary-fg-color: #121212;
}

[data-md-color-scheme="default"] {
    --md-typeset-a-color:  #4051b5;
}


[data-md-color-scheme="slate"] {
    --md-hue: 232;
    --md-default-bg-color: #121212;
    --md-footer-bg-color: #181818;
    --md-footer-bg-color--dark: #181818;
    --md-typeset-a-color:  #FF6600;
    --md-code-bg-color: #191919;
}

[role=tooltip]>.md-tooltip2__inner {
    font-size: 5rem;
    font-weight: 700;
    left: clamp(.8rem,var(--md-tooltip-host-x) + var(--md-tooltip-x) - var(--md-tooltip-width)/2,100vw - var(--md-tooltip-width) - .8rem);
    max-width: min(100vw - 2 * .8rem,400px);
    padding: .2rem .4rem;
    -webkit-user-select: none;
    user-select: none;
    width: -moz-fit-content;
    width: fit-content
}

